In [71]:
import numpy as np
import pandas as pd
import math
import cmath
from scipy.optimize import root
import matplotlib.pyplot as plt
%matplotlib inline

In [72]:
a = ("Table1.txt")
a

'Table1.txt'

In [73]:
class InterfazPolimero:
    def __init__ (self,a):
        self.a=a
        self.c1 = np.linspace(1157-112,1157+112,10,10)
        print(self.c1)
    def lire(self):
        tab = pd.read_csv(self.a,sep=" ")
        coef =tab.values
        self.Experiment = coef[:,0]
        self.Thickness = coef[:,1]
        self.FoodSimulant = coef[:,2]
        self.Cpo = coef[:,3]
        self.K = coef [:,4]
        self.Dp = coef[:,5]
        self.RMSE = coef[:,6]
        self.k = coef[:,7]
        self.c4 = coef[:,8]
        return tab
        self.c2 = np.zeros(10)
        dimension = np.shape(self.c2)
    try: 
        calcul(self)
    except:
        def calcul(self): 
            self.j1 = ((float(self.Dp) / (float(self.Thickness)/2))*(float(self.c1) - float(self.c2)))
            self.c3 = float(self.c2) / float(self.K)
            self.j2 = float(self.k) * (float(self.c3) - float(self.c4))
            return (j1 - j2) / j1
        def calcul2(self):
            i = 0
            for self.c1i in self.c1: 
                for self.Dpi in self.Dp:
                    for self.ki in self.k:
                        for self.Ki in self.K:
                            for self.Thicknessi in self.Thickness:
                                sol = root(calcul,15,args=(float(self.Dp),float(self.k),float(self.K),float(self.c4),float(self.c1),float(self.Thickness)))
                                c2[i]= sol.x 
                                i = i+ 1
            return c2

In [74]:
p = InterfazPolimero("Table1.txt")
p

[1045.         1069.88888889 1094.77777778 1119.66666667 1144.55555556
 1169.44444444 1194.33333333 1219.22222222 1244.11111111 1269.        ]

In [75]:
p.lire()

,Experiment,Thickness,FoodSimulant,Cpo,K,Dp,RMSE,k,c4
0,1,146,EtOH95%,1157(+/-112),52.0,1.950000e-13,1.5,0.000007,0.05
1,2,146,NaN,2440(+/-62),35.0,1.970000e-13,3.0,0.000007,0.05
2,3,146,NaN,3152(+/-40),24.0,2.000000e-13,2.6,0.000007,0.05
3,4,146,NaN,5950(+/-35),0.5,2.000000e-13,2.3,0.000007,0.05
4,5,50,EtOH95%,2050(+/-110),334.0,1.000000e-14,3.1,0.000007,0.05
5,6,146,NaN,2440(+/-62),35.0,1.970000e-13,3.0,0.000007,0.05
6,7,190,NaN,2878(+/-115),34.0,2.000000e-13,4.6,0.000007,0.05
7,8,50,EtOH10%,2050(+/-110),0.0,0.000000e+00,0.0,0.000007,0.05
8,9,146,NaN,2440(+/-62),0.0,0.000000e+00,0.0,0.000007,0.05
9,10,190,NaN,2878(+/-115),0.0,0.000000e+00,0.0,0.000007,0.05

In [78]:
p.calcul2()

TypeError: only size-1 arrays can be converted to Python scalars

In [ ]:
c1 = np.linspace(1157-112,1157+112,10)
K = 0.1
c4 = 0.05
k = 7.14e-6
D = 1.93e-13
L = 1
c2 = np.zeros(10)
dimension = np.shape(c2)
def calcul(c2,D,k,K,c4,c1,L): 
    j1 = (D/(L/2)*(c1-c2))
    c3 = c2/K
    j2 = k*(c3-c4) 
    return (j1-j2)/j1
def calcul2():
    i = 0
    for c1i in c1: 
        sol = root(calcul,15,args=(D,k,K,c4,c1,L))
        c2[i]= sol.x 
        i = i + 1 
    return c2

In [ ]:
calcul2()

In [ ]:
a =np.linspace(1,11,10)
a

In [ ]:
b = np.zeros(10)
for ai in a:
    b = ai + 1

In [ ]:
p.__init__(1)